<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Giorno 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Prima di iniziare</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Questionario pre-laboratorio</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>14.00</td>        <!-- time    -->
        <td>Introduzione al laboratorio e a The Carpentries</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14.15</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">Automatizzazione con la Shell Unix</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>15.30</td>        <!-- time    -->
        <td>Pausa</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>16.00</td>        <!-- time    -->
        <td>Automatizzazione con la Shell Unix</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>17.30</td>        <!-- time    -->
        <td><i>Fine</i></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Giorno 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 3   -->
        <td>14.00</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/">Controllo di versione con Git e Github</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>15.30</td>        <!-- time    -->
        <td>Pausa</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>16.00</td>        <!-- time    -->
        <td>Controllo di versione con Git e Github</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>17.30</td>        <!-- time    -->
        <td><i>Fine</i></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Giorno 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 3   -->
        <td>14.00</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/">Programmare con Python</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>15.30</td>        <!-- time    -->
        <td>Pausa</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>16.00</td>        <!-- time    -->
        <td>Programmare con Python</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>17.30</td>        <!-- time    -->
        <td><i>Fine</i></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Giorno 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>14.00</td>        <!-- time    -->
        <td>Creare grafici con Python</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>15.30</td>        <!-- time    -->
        <td>Pausa</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>16.00</td>        <!-- time    -->
        <td>Applicazioni avanzate con Python</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>17.30</td>        <!-- time    -->
        <td>Ritorno d’esperienza sulle giornate e sul workshop</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>18.00</td>        <!-- time    -->
        <td><i>Fine</i></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Dopo</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
