<div class="row">
  <div class="col-md-6">
    <h3>Giorni 1 - 2 </h3>
    <table class="table table-striped">
      <tr> <td>Prima</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Questionario pre-laboratorio</a> </td> </tr>
      <tr> <td></td>  <td>Introduzione al laboratorio e a The Carpentries</td> </tr>
      <tr> <td></td>  <td>Automatizzazione con la Shell Unix</td> </tr>
      <tr> <td></td>  <td>Automatizzazione con la Shell Unix</td> </tr>
      <tr> <td></td>  <td>Controllo di versione con Git e Github</td> </tr>
      <tr> <td></td>  <td>Controllo di versione con Git e Github</td> </tr>
      <tr> <td></td>  <td>Ritorno d’esperienza sulla giornata</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Giorni 3 - 4 </h3>
    <table class="table table-striped">
      <tr> <td></td>  <td>Revisione lezione precedente</td> </tr>
      <tr> <td></td>  <td>Programmare con Python</td> </tr>
      <tr> <td></td>  <td>Programmare con Python</td> </tr>
      <tr> <td></td>  <td>Creare grafici con Python</td> </tr>
      <tr> <td></td>  <td>Applicazioni avanzate con Python</td> </tr>
      <tr> <td></td>  <td>Ritorno d’esperienza sulla giornata e sul workshop</td> </tr>
      <tr> <td>Dopo</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Questionario post-laboratorio</a></td> </tr>
    </table>
  </div>
</div>
